<div style="margin: 0px;">
</div>

<div class="cubeui-fluid">
    <fieldset>
        <legend data-i18n="repository.form.legend">仓库信息</legend>
    </fieldset>
    <div class="cubeui-row">
        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label" data-i18n="repository.form.name">仓库名字:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Name"
                       value='{{:Name}}'
                       {{if ID=="Default"}}disabled{{/if}}
                       data-options="
                                required:false,prompt:'{{:~t("repository.prompt.name")}}'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label" data-i18n="repository.form.endpoint">仓库地址:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Endpoint"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Endpoint}}'
                       data-options="
                                required:false,prompt:'{{:~t("repository.prompt.endpoint")}}'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label" data-i18n="repository.form.description">备注:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Description"
                       {{if ID=="Default"}}disabled{{/if}}
                       value='{{:Description}}'
                       data-options="
                                multiline:true,
                                height:60,
                                required:false,prompt:'{{:~t("repository.prompt.description")}}'
                                "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label" data-i18n="repository.form.username">用户名:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-textbox" name="Username"
                       value='{{:Username}}'
                       data-options="
                                                        required:false,prompt:'{{:~t("repository.prompt.username")}}'
                                                        "
                >
            </div>
        </div>

        <div class="cubeui-col-sm12" style="margin-top: 5px">
            <label class="cubeui-form-label" data-i18n="repository.form.password">密码:</label>
            <div class="cubeui-input-block">
                <input type="text" data-toggle="cubeui-passwordbox" name="Password"
                       value='{{:Password}}'
                       data-options="
                                                        required:false,prompt:'{{:~t("repository.prompt.password")}}'
                                                        "
                >
            </div>
        </div>
    </div>
</div>